html{
    overflow-y: hidden;
}
.page {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-image: url('../eldritch-codejam/assets/background_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    /* width: 100vw; */
    padding: 30px;
}

.ancient-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 33%;

}

.ancient-card {
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;

    box-sizing: border-box;
    height: 260px;
    width: 200px;
    
    cursor: pointer;

}

.ancient-card-active {
    border: 2px solid;
    border-color: #964003;
}

.cthulhu {
    background-image: url('/eldritch-codejam/assets/Ancients/Cthulthu.png');
}
.azathoth {
    background-image: url('/eldritch-codejam/assets/Ancients/Azathoth.png');
}
.iogSothoth {
    background-image: url('/eldritch-codejam/assets/Ancients/IogSothoth.png');
}
.shubNiggurath {
    background-image: url('/eldritch-codejam/assets/Ancients/ShubNiggurath.png');
}

.difficulty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10%;
    
    cursor: pointer;
   
}

.difficulty {
    background-color: rgb(150, 60, 24);
    border: 2px solid;
    border-radius: 15px;
    border-color: #542707;
    padding: 10px 30px 10px 30px;

    margin-top: 10%;
    margin-left: 5%;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #542707;
}

.deck-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 33%;
    
}

.top-card {
    display: flex;
    background-image: url('/eldritch-codejam/assets/mythicCardBackground.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid;
    border-radius: 15px;
    border-color: #542707;

    box-sizing: border-box;
    height: 270px;
    width: 185px;

    cursor: pointer;
}

.newgame-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 60, 24);
    border: 2px solid;
    border-radius: 15px;
    border-color: #542707;
    padding: 5px 10px 5px 10px;

    margin-top: 5%;
    
    width: 185px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #542707;

    cursor: pointer;
}

